* {
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;
      box-sizing: border-box;
    }

    body {
      background-image: url('images/23.jpg');
      height: 100vh;
      width: 100vw;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: Arial, sans-serif;
      color:aliceblue;
    }

    /* Navbar */
    nav {
      height: 80px;
      background: #063247;
      box-shadow: 0 3px 15px rgba(0,0,0,.4);
    }

    nav .logo {
      color: white;
      font-size: 33px;
      font-weight: bold;
      line-height: 70px;
      padding-left: 110px;
      float: left;
    }

    nav ul {
      float: right;
      margin-right: 30px;
    }

    nav ul li {
      display: inline-block;
      position: relative;
    }

    nav ul li a {
      color: white;
      display: block;
      padding: 0 15px;
      line-height: 70px;
      font-size: 20px;
      background: #063247;
      transition: .5s;
    }

    nav ul li a:hover,
    nav ul li a.active {
      color: #23dbdb;
    }

    /* Dropdown */
    nav ul ul {
      position: absolute;
      top: 85px;
      border-top: 3px solid #23dbdb;
      opacity: 0;
      visibility: hidden;
    }

    nav ul li:hover > ul {
      top: 70px;
      opacity: 1;
      visibility: visible;
      transition: .3s linear;
    }

    nav ul ul li {
      width: 180px;
      border: 1px solid #042331;
      border-top: none;
      background: #063247;
    }

    nav ul ul li a {
      line-height: 50px;
    }

    nav ul ul ul {
      border-top: none;
    }

    nav ul ul ul li {
      position: relative;
      top: -70px;
      left: 180px;
    }

    nav ul ul li a i {
      margin-left: 45px;
    }
.homePage {
    background-image: url('https://i.postimg.cc/Yqg3PdkB/main-picture.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 70px);
}

.home-page-content{
    text-align:center;
    padding:200px;
    color:#fff8dc;
    font-size:30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-left: 20px;
}
h1{
    margin-bottom: 45px;
}
